.vs/PriceGrabber/DesignTimeBuild/.dtbcache
.vs/PriceGrabber/v15/Server/sqlite3/db.lock
.vs/PriceGrabber/v15/Server/sqlite3/storage.ide
.vs/PriceGrabber/v15/Server/sqlite3/storage.ide-shm
.vs/PriceGrabber/v15/Server/sqlite3/storage.ide-wal
.vs/PriceGrabber/v15/sqlite3/storage.ide
.vs/PriceGrabber/v15/.suo
packages/
PriceGrabber/PriceGrabber/bin/Debug/ModernHttpClient.dll
PriceGrabber/PriceGrabber/bin/Debug/Newtonsoft.Json.dll
PriceGrabber/PriceGrabber/bin/Debug/Newtonsoft.Json.xml
PriceGrabber/PriceGrabber/bin/Debug/Plugin.Connectivity.Abstractions.dll
PriceGrabber/PriceGrabber/bin/Debug/Plugin.Connectivity.Abstractions.pdb
PriceGrabber/PriceGrabber/bin/Debug/Plugin.Connectivity.Abstractions.xml
PriceGrabber/PriceGrabber/bin/Debug/Plugin.Connectivity.dll
PriceGrabber/PriceGrabber/bin/Debug/Plugin.Connectivity.pdb
PriceGrabber/PriceGrabber/bin/Debug/Plugin.Connectivity.xml
PriceGrabber/PriceGrabber/bin/Debug/Plugin.Media.Abstractions.dll
PriceGrabber/PriceGrabber/bin/Debug/Plugin.Media.Abstractions.pdb
PriceGrabber/PriceGrabber/bin/Debug/Plugin.Media.Abstractions.xml
PriceGrabber/PriceGrabber/bin/Debug/Plugin.Media.dll
PriceGrabber/PriceGrabber/bin/Debug/Plugin.Media.pdb
PriceGrabber/PriceGrabber/bin/Debug/Plugin.Media.xml
PriceGrabber/PriceGrabber/bin/Debug/Plugin.Settings.Abstractions.dll
PriceGrabber/PriceGrabber/bin/Debug/Plugin.Settings.Abstractions.pdb
PriceGrabber/PriceGrabber/bin/Debug/Plugin.Settings.Abstractions.xml
PriceGrabber/PriceGrabber/bin/Debug/Plugin.Settings.dll
PriceGrabber/PriceGrabber/bin/Debug/Plugin.Settings.xml
PriceGrabber/PriceGrabber/bin/Debug/PriceGrabber.dll
PriceGrabber/PriceGrabber/bin/Debug/PriceGrabber.dll.mdb
PriceGrabber/PriceGrabber/bin/Debug/PriceGrabber.pdb
PriceGrabber/PriceGrabber/bin/Debug/System.Net.Http.dll
PriceGrabber/PriceGrabber/bin/Debug/System.Net.Http.Extensions.dll
PriceGrabber/PriceGrabber/bin/Debug/System.Net.Http.Extensions.xml
PriceGrabber/PriceGrabber/bin/Debug/System.Net.Http.Primitives.dll
PriceGrabber/PriceGrabber/bin/Debug/System.Net.Http.Primitives.xml
PriceGrabber/PriceGrabber/bin/Debug/System.Net.Http.xml
PriceGrabber/PriceGrabber/bin/Debug/Xamarin.Forms.Core.dll
PriceGrabber/PriceGrabber/bin/Debug/Xamarin.Forms.Core.pdb
PriceGrabber/PriceGrabber/bin/Debug/Xamarin.Forms.Core.xml
PriceGrabber/PriceGrabber/bin/Debug/Xamarin.Forms.Maps.Design.dll
PriceGrabber/PriceGrabber/bin/Debug/Xamarin.Forms.Maps.dll
PriceGrabber/PriceGrabber/bin/Debug/Xamarin.Forms.Maps.xml
PriceGrabber/PriceGrabber/bin/Debug/Xamarin.Forms.Platform.dll
PriceGrabber/PriceGrabber/bin/Debug/Xamarin.Forms.Xaml.dll
PriceGrabber/PriceGrabber/bin/Debug/Xamarin.Forms.Xaml.pdb
PriceGrabber/PriceGrabber/bin/Debug/Xamarin.Forms.Xaml.xml
PriceGrabber/PriceGrabber/obj/
PriceGrabber/PriceGrabber.Android/bin/
PriceGrabber/PriceGrabber.Android/obj/
PriceGrabber/PriceGrabber.Android/Resources/Resource.Designer.cs
PriceGrabber/PriceGrabber.Android/Resources/AboutResources.txt
PriceGrabber/PriceGrabber.Android/PriceGrabber.Android.csproj.user
PriceGrabber/PriceGrabber.iOS/obj/
PriceGrabber/PriceGrabber.iOS/PriceGrabber.iOS.csproj.user
